.App {
  text-align: center;
}
body{
  background-color: #000;
  color: white;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
.header{
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #00796B;
  font-weight: bold;
  justify-content: space-between;
  min-height: 10vh;
}
.img{
  margin-top: 30px;
  width: 5rem;
  height: 5rem;
  margin-right: 1.25rem;
  margin: 10px;

}
.title{
  margin-top: 30px;
  font-size: 2rem;
  line-height: 1;
  color: #FFFFFF;
}
label{
  margin: 5px;
  font-weight: bold;;
}
input, .select{
  background-color: hsl(0, 0%, 0%);
  border: 2px solid #00796B; 
  color:#FFF;
  border-radius: 5px;
  margin: 10px 5rem;
}
input:hover, input:active, select:hover, select:active{
  border: 2px solid #FFA000;
}
.container-head{
  display: flex;
  margin: 2px 10px 2px;
}
.container-nav{
  display: flex;
  margin-right: 50px;
  justify-content: space-around;
  align-items: center;
  font-size: large;
}
.container-form{
  width: 50%;
  height: 80vh;
  margin: 20px;
  background-color: #212121;
  border-radius: 5px;
}
.container-sites{
  width: 50%;
  height: 80vh;
  margin: 20px;
  justify-content: center;
  border-radius: 5px;
  background: #212121;
}
.container-site{
  padding: 10px;
  margin: 20px;
  border: solid 2px #00796B;
  background: rgba(0, 80, 80, 0.1);
  border-radius: 5px;
}
.container-register-sites{
  display: flex;
}
.container-edit-delete{
  width: 100%;
  font-size: large;
  font-weight: bold;
  display: flex;
  color: #F44336; 
  justify-content: space-around;
}
.container-radio-label{
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.container-search{
  padding-bottom: 15px;
  /*width: 100%;
  display: flex;*/
}
.container-select-map{
  display: flex;
  z-index: 1000;
  position:fixed;
  bottom: 0;
  left: 0;
  color:#000;
  font-weight: bold;
  justify-content: flex-start;
}
a:link, a:visited {
  background-color: #00796B;
  color: #FFFFFF;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-right:2px;
  border-radius: 5px;
  font-size: medium;
  font-weight: bold;
}

.radio-btn{
  color: #F44336;
}
.btn-register{
  font-size:large;
  margin: 20px 100px 10px;
  color: #FFF;
  background: #009688; 
  padding: 10px 20px;
  border: solid 1px #000;
  border-radius:5px;
}
.btn-register:hover, .btn-register:active{
  cursor: pointer;
  color: #000; 
  border: 2px solid #000;
  border-radius: 5px;
  background: #FFA000;
}
.btn-edit, .btn-delete{
  color: #009688;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-edit:hover, .btn-delete:hover, .btn-edit:active, .btn-delete:active{
  color: #000;
  padding: 5px 10px;
}
.radio-label{
  font-size: small;
}
.info-label{
  font-weight: bold;
  color:#009688;
}
.information{
  width: 90%;
  height: 180px;
  margin: 10px;
  padding: 10px;
}
.info{
  display: flex;
  justify-content: space-between;
}
.register-form{
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}
.select-map{
  background-color: hsl(0, 0%, 0%);
  border: 2px solid #00796B; 
  font-size: 25px;
  color:#FFF;
  border-radius: 5px;
  margin: 10px 5rem;
}
.site-list{
  height: 75%;
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #009688;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00796B;
  border-radius: 10px;
}
@media(max-width: 500px){
  .container-register-sites{
    display: flex;
    flex-direction: column;
  }
  .container-form{
    width: 100%;
    margin: 10px 0px 10px;
  }
  .container-sites{
    width: 100%;
    margin: 10px 0px 10px;
  }
  .header{
    flex-direction: column;
    justify-content: center;
  }
  input{
    margin: 10px 1.5rem;
  }
  .container-head{
    justify-content: center;
  }
  a:link, a:visited {
    font-size: x-small;
    padding: 5px 10px;
    margin: 0px 20px 2px;
  }
  .container-nav{
    width: 100%;
    justify-content: space-around;
    padding-bottom: 2px;
  }
  .container-radio-label{
    margin-left: 50px;
    margin-right: 50px;
  }
  .radio-label{
    font-size: xx-small;
  }
  .btn-register{
    font-size:smaller;
    align-items: center;
  }
  .select-map{ 
    font-size: 15px;
  }
}